
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>helibot Points</title>
    <meta name="description" content="points" />
    <link
      id="favicon"
      rel="icon"
      href="https://images-na.ssl-images-amazon.com/images/I/615Q1Ms%2Bb4L._SX425_.jpg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
	td, th{border:solid black 1px}
	table{border-collapse:collapse;margin:0 auto}
    </style>
  </head>
  <body>
	  <button onclick="location.href='./poll'" style="margin:0 auto; display:block">Sondage</button>
	  <hr>
	  <table><tbody id="table">
		<tr>
			<th>Nom</th>
			<th>Score</th>
			<th>Ancien Score</th>
		</tr>
	  </tbody></table>
	  <script src="./index.js"></script>
  </body>
</html>
