table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
    text-align: center;
    margin-left: 50px;
}
#checkboxdiv{
    margin-left: 50px;
    margin-top: 20px;
}
#pollbtn{
    padding: 14px 40px;
    margin-top:25%;
    margin-left: 10%;
    font-size: 26px;
    border-radius: 8px;
}
#left{
    float: left;
    width: 300px;
}
/* #right{    
    border: 1px solid red;
} */
#wrapper {
    width: 750px;
    overflow: auto;
    /* border: 1px solid blueviolet; */
}